DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

SECRET_KEY=
CLIENT_ID=

DEFAULT_MODERATOR_USERNAME=
DEFAULT_MODERATOR_EMAIL=
DEFAULT_MODERATOR_PASSWORD=

MODE=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# MinIO Configuration
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=
MINIO_SECURE=
