aerich==0.7.2
fastapi
tortoise-orm
tortoise-orm[asyncpg]
PyJWT
redis
pytest
python-dotenv
passlib
python-multipart
email-validator
bcrypt
cryptography
uvicorn
pytest
pytest_asyncio
faker
prometheus-fastapi-instrumentator>=6.1.0
prometheus-client
astropy
scipy
poliastro
astroquery
sbpy
pyerfa
jplephem
spiceypy
minio
Pillow
scikit-image
httpx
